users-service/node_modules/*
users-service/yarn-error.log
api-gateway/node_modules/*
listings-service/node_modules/*
listings-service/yarn-error.log
classifieds/cache/*
classifieds/dist/*
classifieds/node_modules/*