**/.vscode
**/node_modules/
**/yarn-error.log
**/.cache/
**/dist/
**/terraform.tfvars
**/microservices_demo.*
**/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
**/.deploy.env
classifieds-app/deploy.sh
classifieds-app/.aws/credentials
api-gateway/.production.env
listings-service/.production.env
users-service/.production.env
classifieds-app/.env.production
