**/.vscode
**/node_modules/
**/yarn-error.log
**/.cache/
**/dist/

**/microservices_demo.*

.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

*.env
.env.*
!.env.example
!*.example.env
*deploy*.sh
!*deploy.example*.sh
*.pem
*.key